**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
**/.git/
**/.gitignore
**/Dockerfile*
**/.dockerignore
**/node_modules/
**/dist/
**/*.user
**/*.suo
**/.env*
**/secrets.json
frontend/
README.md
*.md
**/TestResults/
**/coverage/
